<div class="container py-5">
    <h2>Login Now : </h2>

    <div *ngIf="apiError" class="alert alert-danger">{{apiError }}</div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">


        <label for="email">Email : </label>
        <input type="email" id="email" class="form-control mb-2" formControlName="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('required')" class="mb-1">Email is required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')" class="mb-1">Email pattern wrong</p>
        </div>

        <label for="password">Password : </label>
        <input type="password" id="password" class="form-control mb-2" formControlName="password">

        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required')" class="mb-1">Password is required</p>
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="mb-1">Password pattern wrong</p>
        </div>




        <div class="d-flex justify-content-between align-items-center">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success d-block">
                <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Login</span>
            </button>
            <a routerLink="/forgetpassword" class="link-primary">Forgot Password</a>
        </div>
    </form>
</div>