<div class="container w-50 mx-auto" *ngIf="useremail">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="btn bg-main mt-3 w-100 text-white">Forgot Password</button>
        <p class="alert alert-danger mb-0 w-50 mx-auto mt-2" *ngIf="userMessage">{{userMessage}}</p>
    </form>
</div>

<div class="container w-50 mx-auto" *ngIf="resetcode">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetcode">Reset code</label>
        <input formControlName="resetCode" type="text" id="resetcode" class="form-control">
        <button class="btn bg-main mt-3 w-100 text-white">reset code</button>
        <p class="alert alert-danger mb-0 w-50 mx-auto mt-2" *ngIf="userMessage">{{userMessage}}</p>
    </form>
</div>

<div class="container w-50 mx-auto" *ngIf="resetpassword">
    <form (ngSubmit)=" newPassword()" [formGroup]="resetPasswordForm">
        <label for="resetpassword">Reset Password</label>
        <input formControlName="newPassword" type="password" id="resetpassword" class="form-control">
        <button class="btn bg-main mt-3 w-100 text-white">Reset Password</button>
        <p class="alert alert-danger mb-0 w-50 mx-auto mt-2" *ngIf="userMessage">{{userMessage}}</p>
    </form>
</div>
